{% extends 'base.html' %} {% load static %} {% block scripts %}
<script src="{% static 'login.js' %}" defer></script>
{% endblock scripts %} {% block content %}
<div class="text-center">
  <video autoplay="true" id="video-element"></video>
</div>

<div id="img-element"></div>

<div class="text-center mt-3">
  <button class="btn btn-primary" id="capture-btn">Capture</button>
  <button class="btn btn-info" id="reload-btn">Re Capture</button>
  <a class="btn btn-info" href="{% url 'admin:login' %}">Admin Log In</a>
</div>
{% endblock content %}
